.result{
/* style for a blackbird */
}
.wet-line{
/* line of editor */
}
[class^="active"]{
/* cursor or active element */
}
.wet-space{
  display: inline-block;
  white-space: pre;  
}
.wet-tab{
  display: inline-block;
  white-space: pre;
  tab-size: 2;
}
.keyword{
/* style for keywords according using language */
}
.wet-character{
  color: #aa0000;
}

body{
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
html{
  background: #36B4FF;
}


