@keyframes cursor {
    0% {opacity: 0 ;}
    
    50% {opacity: 1 ;}
  
    100% {opacity: 0 ;}
}

.wet-line{
  border:1px solid #000099;
}
.wet-line-start::before{
  content: "*";
  color: #000099;
}
.wet-space:nth-of-type(odd){
  border-right: 1px solid #000099;
}
.wet-word ~ .wet-space{
  border-right: none;
}
.active{
}
.active:after{
  content: "";
  border-right: 1px solid #fff;
  animation: cursor 1s infinite;
  
}
.result{
  background: #000040;
  font-family: 'Inconsolata', monospace;
  color: #FF735C;
}
.keyword{
  color: #1DFFDA;/* // 00ffff*/
}
.wet-signifier{
  color: #CC0307;
}

